{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Counselor Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
          <div class="main">
             
<body>

<div class="login-box">
	
<h1>Pay for your Plan $10.00</h1>

<form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="HappyPlace"
          data-amount="1000"
          data-locale="auto"></script>
</form>

</div>
</body>
</html>