	<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<script src="js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
	<!-- about section -->
	<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>about us</h2>
				<h4>Making professional counseling accessible, affordable, convenient - so anyone who struggles with life’s challenges can get help, anytime, anywhere.</h4>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="{% static "images/item1.jpg" %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>
							<h3>Individual specialist</h3>
							<p>Help Individual person</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="{% static "images/item2.jpg" %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>

							<h3>Couple Specialist</h3>
							<p>Help couples</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="{% static "images/item3.jpg" %}" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1></h1>
							</div>
							<h3>Children’s specialist</h3>
							<p>Help children</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of about section -->

</html>