<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
</head>
<body>
    <header>
          <div class="main">
             
<body>

<div class="login-box">
	
<h1>Login</h1>

<div class="textbox">
	<input type="text" placeholder="username" name="" value="">


</div>

<div class="textbox">
	<input type="password" placeholder="Password" name="" value="">
	
</div>

<a class="btn" href="dashboard/" type="button" name="" value="Sign in" />

</div>
</body>
</html>