{% load static %}
<html>
<head>
<title>multiple-choice quiz form</title>
</head>
<body bgcolor=#ffffff>

<h3>Help us match you to the right online therapist.</h3>

<form method="post" action="mailto:raizen@mail.utexas.edu?subject=Vocabulary Quiz 1" enctype="text/plain">

Please fill out this short questionnaire to provide some general and anonymous background about you and the issues you'd like to deal with in online therapy. It would help us match you with the most suitable therapist for you. Your answers will also give this counselor a good starting point in getting to know you.

<P>A. What is your gender?:<BR>
<input type="radio" name="1.The word which means house is" value="maison">Male<BR>
<input type="radio" name="1.The word which means house is" value="quatre">Female<BR>
<input type="radio" name="1.The word which means house is" value="soleil">Other<BR>

</p>

<P>B.How old are you?<BR>
<input type="radio" name="2. The word which means fish is" value="maison">5-17<BR>
<input type="radio" name="2. The word which means fish is" value="valise">18-35<BR>
<input type="radio" name="2. The word which means fish is" value="soleil">36 to above<BR>

</p>

<P>C.What is your Orientation?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Gay<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">Straight<BR>
<input type="radio" name="3. The word which means suitcase is" value="soleil">Bisexual<BR>
<input type="radio" name="3. The word which means suitcase is" value="poisson">Lesbian<BR>
</p>

<br>
<br>
<br>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>
</body>
</html>