
<html>
<head>
<title>multiple-choice quiz form</title>

</head>






<body bgcolor=33FFCA>


	

<h3>Help us match you to the right online therapist.</h3>

<form method="post" action="piyalr04@gmail.com?subject=Quiz 1" enctype="text/plain">

Please fill out this short questionnaire to provide some general and anonymous background about you and the issues you'd like to deal with in online therapy. It would help us match you with the most suitable therapist for you. Your answers will also give this counselor a good starting point in getting to know you.

<P>1. What is your gender?:<BR>
<input type="radio" name="1.The word which means house is" value="maison">Male<BR>
<input type="radio" name="1.The word which means house is" value="quatre">Female<BR>
<input type="radio" name="1.The word which means house is" value="soleil">Other<BR>

</p>

<P>2.How old are you?<BR>
<input type="radio" name="2. The word which means fish is" value="maison">5-17<BR>
<input type="radio" name="2. The word which means fish is" value="valise">18-35<BR>
<input type="radio" name="2. The word which means fish is" value="soleil">36 to above<BR>

</p>

<P>3.What is your Orientation?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Gay<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">Straight<BR>
<input type="radio" name="3. The word which means suitcase is" value="soleil">Bisexual<BR>
<input type="radio" name="3. The word which means suitcase is" value="poisson">Lesbian<BR>
</p>
<P>4.Did you worry so much or so strongly about only one topic?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>5.Did you have difficulty concentrating or keeping your mind on what you were doing?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>6.Did you have a frightened feeling, as if something awful was going to happen?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>7.Did you feel so sad that nothing could cheer you up for at least several days?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>8.Did you have a lot of trouble falling asleep?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>9.Did it take you a lot of effort to do your everyday activities?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>10.Did you feel hopeless about the future?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>11.Were you often thinking about death; either your own, someone else’s, or death in general?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>12.Has anyone at home hit you or tried to injure you in any way?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>13.Do you feel controlled or isolated by anyone?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>14.Has anyone close to you ever threatened or hurt you?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>

<P>15.Have there been situations in your relationship where you have felt afraid?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>16.Has anyone forced you to engage in sexual activities that you didn’t want?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>17.Do you argue?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>18.How do you make decisions?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>19.Do you talk about the future? Are you on the same page about vision and goals?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>20.Are you compatible about needs for affection and sex?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>21.Do you feel that she/he always has your back, that you can always go to her for help?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>
<P>22.Do you think that during the past month your worry and anxiety was a lot stronger than it should have been?<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">Yes<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">No<BR>

</p>




<br>
<br>
<br>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>

</body>
</html>